html{
  height: 100%;
  background-color: white;
}

nav {
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  font-family: 'Secular One', sans-serif;
  font-size: 22px;
  background-color: rgba(78,78,78,0.5);
  margin: 0;

}

h1, h2, h3, h4, h5 {
  font-family: 'Secular One', sans-serif;
  font-weight: normal;
}

h1{
  font-size: 125px;
  margin: 0;
}

h2 {
  font-size: 100px;
}


.works h2 {
  color: #244441;
  padding: 80px 0px;

}

.myteam h2 {
  color: #003170;
  padding: 80px 0px;
}

.img-margin{
  margin-bottom: 40px;

}

.contact h2 {
  color: #002f4b;
}

h3 {
  font-size: 50px;
}

.works h3 {
  color: #16736e;
}

.myteam h3 {
  color: #306fbf;
  margin: 0 0 70px 0;
  line-height: 100%;

}

.navigation{
  text-align: center;
  padding: 0 0;
}

.navigation li {
  display: inline-block;
  margin: 0 25px;
}

.navigation li a {
  color: #fff;
  text-decoration: none;
}

.myteam p {
  text-align: justify;
}

.myteam img {
  border-radius: 2000px;
    width: 1000px;
    margin: 0;
    border: 5px solid #285a86;
}

h4 {
  font-size: 32px;
  color: #16736e;
  background-color: #73e3dd;
  display: inline-block;
  margin: 0;
  padding: 4px;

}

.works a {
  letter-spacing: 2px;
  color: #2ce6dc;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
}

p {
  line-height: 145%;
}



body {
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
}

.left-col, .right-col {
    color: #002f4b;
    text-align: center;
    height: 90vh;
    display: flex;
    align-items: center;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(163,189,133,1) 100%);
}

.right-col h1{
    background: -webkit-linear-gradient(90deg, rgba(0,47,75,1) 0%, rgba(0,167,217,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.right-col p {
  font-size: 20px;
}

.right-col img {
    border-radius: 300px;
    width: 100px;
    margin: 0;
    max-width: 75%;
    border: 5px solid #285a86;
}


.top-container {
  width: 500px;
  margin: 0 auto;

}

.scroll {
  text-align: center;
  color: #002f4b;
  font-size: 24px;
}

.works {
  color: #16736e;
}

.works-img {
  position: relative;
  width: 100%;
}

.works h4 {
  position: absolute;
  z-index: 1;
  top: -25px;
}

.works h4.right-aligned {
  right: 0;
}

.extra-gutters {
  padding: 0 60px;
}

.right-aligned {
  text-align: right;
}

img{
  max-width: 100%;
}
footer{
  background-color: #737373;
  min-height: 220px;
  background-image: url('../img/socialmedia.svg');
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.social-icon{
  height: 60px;
  margin: 10px 20px;
}
.social-icon-container{
  text-align: center;
}
